<div class="ui vertical text menu">
                <a class="active item">
                    诗词
                </a>
                <a class="item">
                    未添加链接(暂不可用)
                </a>
                <a class="item">
                    未添加链接(暂不可用)
                </a>
                <a class="item">
                    未添加链接(暂不可用)
                </a>
            </div>