<div class="nav">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui large breadcrumb">
                <a class="section">文本处理</a>
                <div class="divider"> / </div>
                <a class="section">句子</a>
                <div class="divider"> / </div>
                <div class="active section">诗词</div>
            </div>
        </div>
    </div>
</div>