<div class="bottom">
    <div class="ui grid">
        <div class="four wide column">
        </div>
        <div class="twelve wide column">
            <div class="ui pagination menu" id="pagination">
              <a class="item" id="btn_pgdn">
                    <<
                </a>
                <div class="disabled item">
                    ...
                </div>
                <a class="item" id="btn_pgup">
                    >>
                </a>
            </div>
            <button class="ui primary button" id="add_btn">
                新增
            </button>
        </div>
    </div>
</div>